<footer class="flex items-center justify-center h-12 bg-purple-700 bg-opacity-50 text-white">
  <p class="text-sm">
    Copyright © 2024 - 
    <a 
      href="https://github.com/anmamebo" 
      target="_blank" 
      rel="noopener noreferrer"
      class="hover:underline hover:underline-offset-2 hover:text-purple-700"
    >
      Antonio Manuel.
    </a>
  </p>
</footer>
