<header class="fixed top-0 w-full bg-transparent p-10 z-50">
  <div class="flex items-center justify-end">
    <nav class="text-xl font-semibold" aria-label="Main navigation">
      <ul class="flex items-center gap-10 flex-wrap">
        <li><a class="hover:text-gray-400 transition duration-200" href="/">Home</a></li>
        <li><a class="hover:text-gray-400 transition duration-200" href="#projects">Projects</a></li>
        <li><a class="hover:text-gray-400 transition duration-200" href="#contact">Contact</a></li>
      </ul>
    </nav>
  </div>
</header>